/* some style */

body, html {
	margin: 0px;
	overflow: hidden;
	font-family: m51;
	font-size: 20px;
	color: #cccccc;
}

* {
	cursor: default;
}

#major-info {
	position: absolute;
	top: 1em;
	right: 1em;
	text-align: right;
}

#major-info:hover {
}
